@font-face {font-family: "icomoon-arrows-carousel-32x32";src: url("fonts/icomoon-arrows-carousel-32x32.eot?satvtg");src: url("fonts/icomoon-arrows-carousel-32x32.eot?satvtg#iefix") format("embedded-opentype"),url("fonts/icomoon-arrows-carousel-32x32.ttf?satvtg") format("truetype"),url("fonts/icomoon-arrows-carousel-32x32.woff?satvtg") format("woff"),url("fonts/icomoon-arrows-carousel-32x32.svg?satvtg#icomoon-arrows-carousel-32x32") format("svg");font-weight: normal;font-style: normal;}
[class^="icon-"], [class*=" icon-"] {font-family: "icomoon-arrows-carousel-32x32" !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.dt-icons-selector [class^="icon-"]:before, .dt-icons-selector [class*=" icon-"]:before {font-family: inherit;}
.icon-ar-021-l:before {content: "";}
.icon-ar-021-r:before {content: "";}
.icon-ar-022-l:before {content: "";}
.icon-ar-022-r:before {content: "";}
.icon-ar-023-l:before {content: "";}
.icon-ar-023-r:before {content: "";}
.icon-ar-001-l:before {content: "";}
.icon-ar-001-r:before {content: "";}
.icon-ar-002-l:before {content: "";}
.icon-ar-002-r:before {content: "";}
.icon-ar-003-l:before {content: "";}
.icon-ar-003-r:before {content: "";}
.icon-ar-004-l:before {content: "";}
.icon-ar-004-r:before {content: "";}
.icon-ar-005-l:before {content: "";}
.icon-ar-005-r:before {content: "";}
.icon-ar-006-l:before {content: "";}
.icon-ar-006-r:before {content: "";}
.icon-ar-007-l:before {content: "";}
.icon-ar-007-r:before {content: "";}
.icon-ar-008-l:before {content: "";}
.icon-ar-008-r:before {content: "";}
.icon-ar-009-l:before {content: "";}
.icon-ar-009-r:before {content: "";}
.icon-ar-010-l:before {content: "";}
.icon-ar-010-r:before {content: "";}
.icon-ar-011-l:before {content: "";}
.icon-ar-011-r:before {content: "";}
.icon-ar-012-l:before {content: "";}
.icon-ar-012-r:before {content: "";}
.icon-ar-013-l:before {content: "";}
.icon-ar-013-r:before {content: "";}
.icon-ar-014-l:before {content: "";}
.icon-ar-014-r:before {content: "";}
.icon-ar-015-l:before {content: "";}
.icon-ar-015-r:before {content: "";}
.icon-ar-017-l:before {content: "";}
.icon-ar-017-r:before {content: "";}
.icon-ar-018-l:before {content: "";}
.icon-ar-018-r:before {content: "";}
.icon-ar-019-l:before {content: "";}
.icon-ar-019-r:before {content: "";}
.icon-ar-020-l:before {content: "";}
.icon-ar-020-r:before {content: "";}